@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner img {
  width: 100%;
  height: 100%;
}

.textinnehåll h1 {
  text-align: center;
}

.textinnehåll p {
  text-align: left;
  padding: 15px;
}

.sofiavidlöpbana {
  text-align: center;
}

.sofiavidlöpbana img {
  border-radius: 5px;
  height: auto;
}

.work-out-top {
  background: #e8e8e8;
  height: auto;
  width: 100%;
  display: inline-block;
}

.work-out-top img {
  padding: 1.5rem;
  width: 50%;
  height: 20%;
  border-radius: 3%;
  float: left;
}

.work-out-top p {
  padding: 3%;
  text-align: justify;
}

.work-out-bottom {
  height: auto;
  margin-top: 0;
  background: #bbbbbb;
  display: inline-block;
}

.work-out-bottom img {
  width: 50%;
  height: 20%;
  float: right;
  padding: 1.7rem;
}

.work-out-bottom p {
  text-align: justify;
  padding: 3%;
}

footer {
  margin-top: 0;
}

@media (max-width: 768px) {
  /*Mobilversion(Upp till padda portrait)*/
  .header a {
    width: 100%;
  }

  .banner img {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    max-width: 100%;
  }
  .topnav,
  .search {
    display: inline-block;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 998px) {
  /*Padda portrait*/
  .topnav,
  .search {
    display: inline-block;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
  }
}

@media (min-width: 999px) {
}
