@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: 0%;
}

.image-gallery {
  flex: 20%; /* den här visar antalet kolumner som ska få plats på sidan*/
  padding: 4px;
}

.image-gallery img {
  margin-top: 0.7rem;
  vertical-align: middle;
  width: 100%;
}

.textinnehåll {
  text-align: left;
  padding: 20px;
}

.textinnehåll a {
  padding: 2px;
  color: #000;
}

.streaming {
  margin-top: 2rem;
}
.streaming img {
  height: 70%;
  width: 30%;
  margin: 10px;
}

@media (min-width: 375px) and (max-width: 562px) {
  .streaming img {
    display: block;
    height: auto;
    width: 100%;
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .topnav,
  .search {
    display: inline-block;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
  }
}
@media (min-width: 769px) and (max-width: 998px) {
  .topnav,
  .search {
    display: inline-block;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
  }
}

@media (min-width: 999px) {
}
