@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.grid-item {
  /*bilderna*/
  background: #bbbfca;
  transition: 0.6s;
  text-align: center;
  font-family: "Dosis", sans-serif;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.grid-item img {
  height: auto;
  width: auto;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.textinnehåll {
  font-family: "Dosis", sans-serif;
  text-align: left;
  padding: 1rem;
}

.grid-item:hover {
  background-position: center;
  transform: scale(1.1);
}

.grid-item i {
  margin-right: 1rem;
}

.grid-item a {
  text-decoration: none;
  color: #363d34;
}

.meny {
  float: left;
  font-family: "Dosis", sans-serif;
  padding: 20px;
  font-size: 18px;
}
.meny ul {
  list-style: none;
  padding: 0;
  width: 6rem;
  border-color: #698474;
}

.meny ul li {
  padding: 5px;
  border-radius: 3px;
  position: relative;
  border: solid #b2bec3;
  border-width: 3px 3px 0 3px;
}

.meny a {
  color: #000000;
  text-decoration: none;
  display: block;
  background-color: #fff;
}

.meny a:hover {
  text-decoration: underline;
  background-color: #e8e8e8;
  color: #000000;
}

.meny .submeny {
  position: absolute;
  background: #fff;
  left: -3px;
  top: 30px;
  border: solid #b2bec3;
  border-width: 0 3px 3px 3px;
}

.meny ul li ul li {
  display: none;
  width: 4rem;
  border: none;
  font-style: italic;
}

.meny ul li:hover ul li {
  display: block;
}

@media (min-width: 375px) and (max-width: 562px) {
  .container {
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .grid-item {
    width: auto;
    height: auto;
  }
  .grid-item img {
    width: 100%;
    height: 80%;
  }
}

@media (min-width: 563px) and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    max-width: 100%;
  }

  .grid-item {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 769) and (max-width: 998px) {
  .topnav,
  .search {
    display: inline-block;
    width: 100%;
    justify-content: space-evenly;
  }
  .grid-container {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

  .grid-item {
    margin-bottom: 10px;
  }

  .meny {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 999px) {
}
