@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.about {
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6f6;
  height: auto;
}

.about a {
  color: #000;
}

.experiences {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  height: auto;
  background-color: #698269;
}

.timeline {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 2%;
  width: 95%;
  background-color: #fff;
  overflow: hidden;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 0.1rem;
  height: 100%;
  background: #000;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 1.5rem;
}

.timeline ul li:nth-child(odd) {
  /*P-taggen*/
  float: left;
  text-align: right;
  clear: both;
  padding-bottom: 0.7rem;
}

.timeline ul li:nth-child(even) {
  /*P-taggen*/
  float: right;
  text-align: left;
  clear: both;
  padding-bottom: 0.7rem;
}

.timeline ul li:nth-child(odd)::before {
  /*Pluppen på tisdlinjen*/
  content: "";
  position: absolute;
  top: 2rem;
  right: -0.4rem;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 0.2rem #C8B6A6;
}

.timeline ul li:nth-child(even)::before {
  /*Pluppen på tisdlinjen*/
  content: "";
  position: absolute;
  top: 2rem;
  top: 2rem;
  left: -0.3rem;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 0.2rem #C8B6A6;
}

.timeline ul li h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

.timeline ul li p {
  margin: 1rem 0 0;
  padding: 0;
}

.timeline ul li:nth-child(odd) .year h2 {
  position: absolute;
  top: 1rem;
  right: -10rem;
  margin: 0;
  padding: 0.8rem;
  background: #000;
  color: #fff;
  box-shadow: 0 0 0 0.2rem #eee;
  width: 7rem;
  text-align: center;
  height: 3rem;
}

.timeline ul li:nth-child(even) .year h2 {
  position: absolute;
  top: 1rem;
  left: -10rem;
  margin: 0;
  padding: 0.8rem;
  background: #000;
  color: #fff;
  box-shadow: 0 0 0 0.2rem #eee;
  width: 7rem;
  text-align: center;
  height: 3rem;
}

.experiencesending {
  width: 100%;
  height: auto;
  background-color: #698269;
}

.experiencesending h2 {
  font-size: 1rem;
  text-align: center;
}

.experiencesending p {
  font-size: 0.7rem;
}

.competenceHeadline h1 {
  text-align: center;
  width: 100%; 
}

.competences{
  background-color: #fff;
  padding: 1rem;
  text-align:center;
  display: table;
  width: 100%;
}

.computerprograms, .license, .languages{
  display: inline-table;
  padding: inherit;
}

.computerprograms ul {
  columns: 2; 
}
.competences #desktop, #car, #flag {
  font-size: 5rem;
  margin-right: auto;
  margin-left: auto;
    display: table;
}

.competences ul {
  margin-left: 10%;
  margin-top: 2%;
  display: inline-block;
  text-align: left;
}

.competences li {
  font-size: 0.9rem;
}

.skills {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: #ffa5a5;
  padding: 0.9rem;
}

.skills h1 {
  text-align: center;
  padding: 0;
}

.recommendations {
  background-color: #C8B6A6;
}
.recommendations h1 {
  text-align: center;
}
.recommendations p {
  background-color: #fff;
  width: 25%;
  height: 16rem; 
  padding: 1%;
  font-style: italic;
  display: inline-block;
  font-size: 0.8rem;
}

.recommendations img {
  width: 25%;
  display: inline-flex;
}

.tommy{
    display: flex;
    margin-left: 20%;
    width: 100%;
}

.christoffer {
  margin-left: 20%;
  width: 100%;
}

.christoffer p {
  float: left;
  height: fit-content;
}

.christoffer img {
height: 309px;
}

.emilia {
  display: flex;
  margin-left: 20%;
  width: 100%;
}

.daniel {
  display: inline-block;
  margin-left: 20%;
  width: 100%;
}

.daniel p{
  float:left;
  width: 25%; 
}

.daniel img{
  height: 257px;
}

.footer p {
  width: 100%;
  height: auto;
  background-color: #698269;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer p {
  width: 100%;
  height: auto;
  background-color: #698269;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer a {
  color: #000;
}

@media (min-width: 375px) and (max-width: 562px){
.computerprograms,
  .license,
  .languages {
    display: table-cell;
  }

  .competences #desktop,
  #car,
  #flag {
    font-size: 5rem;
    margin-right: auto;
    margin-left: auto;
    display: table;
  }
  
  .recommendations p {
    font-size: 0.77rem;
  }
}
@media (min-width: 563px) and(max-width: 768px) {
  /*Mobilversion, Upp till padda portrait*/
.computerprograms {
    display: inline-block;
    margin-top: auto;
  }
.license {
    display: inline-block;
    margin-top: auto;
  }
.languages {
    display: inline-block;
    margin-top: auto;
  }

  .languages #desktop {
    font-size: 3rem;
    margin-right: auto;
    margin-left: auto;
  }

  .languages #car {
    font-size: 3rem;
    margin-right: auto;
    margin-left: auto;
  }

  .languages #flag {
    font-size: 3rem;
    margin-right: auto;
    margin-left: auto;
  }

.recommendations p{
  font-size: 0.6rem;
}

@media (min-width: 769px) and (max-width: 992px) {
  /*Padda portrait*/
  .recommendations img {
    /* vertical-align: 2rem; */
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 993px) {
  /*Padda Landscape & Desktop*/
  /* .recommendations img {
    /* vertical-align: -5.5rem; */
} 
}