@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.about {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6f6;
  height: 900px;
}

.about a {
  color: #000;
}

.experiences {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 1400px;
  background-color: #898b8a;
}

.timeline {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 50px auto;
  padding: 20px 0;
  width: 95%;
  height: 1250px;
  background-color: #fff;
  overflow: hidden;
}

.timeline::before {
  /*Ditt streck*/
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #000;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.text {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: 40px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #f4abc4;
}

.timeline ul li:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 40px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #f4abc4;
}

.timeline ul li h2 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #000;
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .year h2 {
  margin: 0;
  padding: 0;
}

.timeline ul li:nth-child(odd) .year h2 {
  position: absolute;
  top: 23px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: #000;
  border-radius: 0px;
  color: #fff;
  box-shadow: 0 0 0 3px #eee;
}

.timeline ul li:nth-child(even) .year h2 {
  position: absolute;
  top: 23px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: #000;
  border-radius: 0px;
  color: #fff;
  box-shadow: 0 0 0 3px #eee;
}

.year h2 {
  padding: 10px;
}

.computerKnowledge {
  max-width: 1000px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  column-count: 2;
  column-gap: 10%;
  column-width: 500px;
}
.computerKnowledge h1 {
  text-align: center;
}

.computerKnowledge .fas {
  font-size: 100px;
  margin-left: 13%;
  margin-top: 20px;
  float: left;
}

.computerPrograms ul li {
  padding-top: 20px;
  margin-left: 20%;
  font-size: 1em;
  list-style: none;
  float: left; /*Vi kan ju bara göra ett table med...?*/
}

.skills {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  background-color: #ffa5a5;
}

.skills h1 {
  text-align: center;
}

.column {
  float: left;
  width: 33%;
  padding-left: 100px;
  font-size: 1.2 em;
}

.column .fas {
  font-size: 4em;
  margin-left: 13%;
  margin-top: 20px;
}

.column ul li {
  padding-top: 20px;
  margin-left: 20%;
  font-size: 1em;
}

.extras {
  max-width: 1000px; /*SKa bodyn vara x antal px och den här 100% utifrån det?*/
  margin-left: auto;
  margin-right: auto;
  height: 98%;
  background-color: #898b8a;
}

.extras h1 {
  text-align: center;
}
.extras p {
  margin: 3%;
  margin-top: 0%;
}
.jennie p {
  background-color: #fff;
  width: 50%;
  padding: 10px;
  font-style: italic;
  margin-left: 5%;
  display: inline-block;
}

.jennie img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 10%;
  display: inline-block;
}

.emilia p {
  background-color: #fff;
  width: 50%;
  padding: 1%;
  font-style: italic;
  margin-right: 5%;
  display: inline-block;
}

.emilia img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 10%;
  display: inline-block;
}

.daniel p {
  background-color: #fff;
  width: 50%;
  padding: 1%;
  font-style: italic;
  margin-left: 5%;
  display: inline-block;
}

.daniel img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 10%;
  display: inline-block;
}

.allan p {
  background-color: #fff;
  width: 50%;
  padding: 1%;
  font-style: italic;
  margin-left: 5%;
  display: inline-block;
}

.allan img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 10%;
  display: inline-block;
}

.footer p {
  width: 100%;
  height: 100px; /*Hur gör man med höjd på såna här block?*/
  background-color: #f4abc4;
  text-align: center;
  padding-top: 10px;
}

.footer a {
  color: #000;
}

/* @media screen and (max-width: 780px) {
  .extras {
    max-height: 2000px;
  }

  .jennie p {
    max-width: 400px;
  }

  .jennie img {
    max-width: 150px;
    max-height: 150px;
  }

  .emilia p {
    max-width: 400px;
  }

  .emilia img {
    max-width: 150px;
    max-height: 150px;
  }

  .daniel p {
    max-width: 400px;
  }

  .daniel img {
    max-width: 150px;
    max-height: 150px;
  }

  .allan p {
    max-width: 400px;
  }

  .allan img {
    max-width: 150px;
    max-height: 150px;
  }
} */

/* @media screen and (max-width: 400px) {
} */
