@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Quicksand", sans-serif;
  background-color: #fff;
  color: #000000;
  width: 100%;
  font-size: 1rem;
}

.goog-te-combo{
  font-size: 2rem;
}

#header {
  width: 100%;
  height: 30%;
  background-color: #698269;
}

#header p {
  font-style: bold;
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
}

.topnav {
  background-color: #C8B6A6;
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.topnav a {
  color: #000;
  text-decoration: none;
  padding: 0.5rem;
}

h1 {
  padding: 1rem; 
  text-align:center;
  margin-left: auto;
  margin-right: auto; 
}

p {
  padding-left: 2rem;
  font-size: 0.9rem;
}

.about img {
  padding-top: 1rem;
  width: 22%;
  height: 22%;
  border-radius: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.about p {
  padding: 1rem;
}
.gotopbtn .fas {
  font-size: 2.5rem;
  position: fixed;
  text-align: right;
  color: #000;
  right: 2%;
  color: #000;
  z-index: 1;
  margin-top: 70%;
}

.gotopbtn .fas a {
  font-size: 25px;
  text-decoration: none;
}

@media (min-width: 375px) and (max-width: 562px) {
  .container {
    width: 100%;
  }

  #header{
 margin-top: -30px; 
  }
#header p{
  font-size: 1.5rem;
}

  .about img {
    width: 22%;
    height: 22%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 1rem;
  }

  .topnav{
    display: none; 
  }

#burgerMenuToggle {
  display: block;
  position: relative;
  top: 20px;
  left: 10px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#burgerMenuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}


#burgerMenuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#burgerMenuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#burgerMenuToggle span:first-child {
  transform-origin: 0% 0%;
}

#burgerMenuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#burgerMenuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#burgerMenuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#burgerMenuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#burgerMenu {
  position: absolute;
  width: 100%;
  padding: 30px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-110%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#burgerMenu li {
  padding: 10px;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#burgerMenuToggle input:checked~ul {
  transform: none;
  left: -10px; 
}
}

@media (max-width: 768px) {
  /*Mobilversion, Upp till padda portrait*/
  .container {
    max-width: 100%;
  }
  .skills h1 {
    padding-top: 0.1rem;
  }

     #header {
       margin-top: -30px;
     }
  
     #header p {
       font-size: 1.5rem;
     }
  
     .about img {
       width: 22%;
       height: 22%;
       margin-left: auto;
       margin-right: auto;
       display: flex;
       padding-top: 1rem;
     }
  
     .topnav {
       display: none;
     }
  
     #burgerMenuToggle {
       display: block;
       position: relative;
       top: 20px;
       left: 10px;
  
       z-index: 1;
  
       -webkit-user-select: none;
       user-select: none;
     }
  
     #burgerMenuToggle a {
       text-decoration: none;
       color: #232323;
  
       transition: color 0.3s ease;
     }
  
  
     #burgerMenuToggle input {
       display: block;
       width: 40px;
       height: 32px;
       position: absolute;
       top: -7px;
       left: -5px;
  
       cursor: pointer;
  
       opacity: 0;
       /* hide this */
       z-index: 2;
       /* and place it over the hamburger */
  
       -webkit-touch-callout: none;
     }
  
     /*
   * Just a quick hamburger
   */
     #burgerMenuToggle span {
       display: block;
       width: 33px;
       height: 4px;
       margin-bottom: 5px;
       position: relative;
  
       background: #cdcdcd;
       border-radius: 3px;
  
       z-index: 1;
  
       transform-origin: 4px 0px;
  
       transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
         background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
         opacity 0.55s ease;
     }
  
     #burgerMenuToggle span:first-child {
       transform-origin: 0% 0%;
     }
  
     #burgerMenuToggle span:nth-last-child(2) {
       transform-origin: 0% 100%;
     }
  
     /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
     #burgerMenuToggle input:checked~span {
       opacity: 1;
       transform: rotate(45deg) translate(-2px, -1px);
       background: #232323;
     }
  
     /*
   * But let's hide the middle one.
   */
     #burgerMenuToggle input:checked~span:nth-last-child(3) {
       opacity: 0;
       transform: rotate(0deg) scale(0.2, 0.2);
     }
  
     /*
   * Ohyeah and the last one should go the other direction
   */
     #burgerMenuToggle input:checked~span:nth-last-child(2) {
       transform: rotate(-45deg) translate(0, -1px);
     }
  
     /*
   * Make this absolute positioned
   * at the top left of the screen
   */
     #burgerMenu {
       position: absolute;
       width: 100%;
       padding: 30px;
  
       background: #ededed;
       list-style-type: none;
       -webkit-font-smoothing: antialiased;
       /* to stop flickering of text in safari */
  
       transform-origin: 0% 0%;
       transform: translate(-110%, 0);
  
       transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
     }
  
     #burgerMenu li {
       padding: 10px;
       font-size: 22px;
     }
  
     /*
   * And let's slide it in from the left
   */
     #burgerMenuToggle input:checked~ul {
       transform: none;
       left: -10px;
     }
}
@media (min-width: 769px) and (max-width: 992px) {
  /*Padda portrait*/
}

@media (min-width: 993px) {
  /*Padda Landscape & Desktop*/
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

    #burgerMenuToggle {
      display: none;
    }
}
